node_modules
.DS_Store
.vscode
.idea

docs/contexts/*.jsonld
docs/credentials/*.json

docs/schemas
docs/pathogen-openapi-v1.json
docs/intermediate.json
docs/sections/vocab.html
packages/pathogen-schemas/index.js
